html {
  height: 100%;
  width: 100%;
  font-family: 'Montserrat';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  --bg: #fcfcfc;
  --bg-panel: #0077ff;
  --color-headings: #0077ff;
  --navbar-txt: #fcfcfc;
  --color-text: #333333;
  --form-input-bg: #ffffff;
  --rooms-txt: #0077ff;
  --shadows-color: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 4px 8px 0 rgba(0, 0, 0, 0.19);
  --footer-filter: invert(99%) sepia(5%) saturate(354%) hue-rotate(298deg) brightness(117%) contrast(98%);
  --send-icon-filter: invert(31%) sepia(95%) saturate(3546%) hue-rotate(203deg) brightness(104%) contrast(103%);
  --input-msg-bg: #f0f2f5;
  --user-txt-msg: #fcfcfc;
  --others-msg-color-txt: #333333;
  --others-msg-bg: #d4d4d4;
  --hover-on-txt: #333333;
}

html[data-theme="dark"] {
  --bg: #101922;
  --bg-panel: #101922;
  --color-headings: #ff4654;
  --navbar-txt: #ff4654;
  --color-text: #E7E5EB;
  --form-input-bg: #5e656f;
  --rooms-txt: #e7e5eb;
  --shadows-color: 0 4px 8px 0 rgba(251, 251, 251, 0.2), 0 4px 6px 0 rgba(238, 238, 238, 0.19);
  --footer-filter: invert(33%) sepia(80%) saturate(919%) hue-rotate(318deg) brightness(111%) contrast(109%);
  --send-icon-filter: invert(33%) sepia(80%) saturate(919%) hue-rotate(318deg) brightness(111%) contrast(109%);
  --input-msg-bg: #313944;
  --user-txt-msg: #fcfcfc;
  --others-msg-color-txt: #fcfcfc;
  --others-msg-bg: #2d353d;
  --hover-on-txt: #ff4654;
}

body {
  background-color: var(--bg);
  margin: 0 auto;
  padding: 0 20px;
  padding-bottom: 2rem;
}

h1 {
  margin: 0;
  padding: 4em;
  color: var(--color-headings);
}

p {
  color: var(--bg);
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.2em;
  margin-top: 1em;
  position: relative;
  word-wrap: break-word;
}

p2 {
  text-align: center;
  font-style: bold;
  color: var(--rooms-txt);
  grid-area: content;
  font-size: 1.5em;
  line-height: 1.8em;
  margin-top: 2em;
  font-weight: 500;
}

p2:hover {
  color: var(--hover-on-txt);
  cursor: pointer;
}

p3 {
  text-align: center;
  font-style: bold;
  color: var(--navbar-txt);
  grid-area: content;
  font-size: 1.5em;
  font-weight: 500;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

p3:hover {
  color: var(--navbar-txt);
  cursor: pointer;
}

p4 {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  color: var(--color-text);
  grid-area: content;
  font-size: 1.1em;
  line-height: 1.8em;
  margin-top: 2em;
  max-width: 400px;
}

.register-bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.link {
  color: var(--color-headings);
}

.link:hover {
  color: var(--color-headings);
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form-control {
  background-color: var(--form-input-bg);
  text-align: center;
  color: var(--color-text);
}

.form-control ::-webkit-input-placeholder {
  color: var(--color-text);
}

.form-control :-ms-input-placeholder {
  color: var(--color-text);
}

.form-control ::-ms-input-placeholder {
  color: var(--color-text);
}

.form-control ::placeholder {
  color: var(--color-text);
}

.form-control :placeholder-shown {
  color: var(--color-text);
  opacity: 1;
}

.button-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 10px;
  background-color: var(--color-headings);
  border: none;
  color: white;
  padding: 12px 30px;
  text-align: center;
  font-size: 24px;
  cursor: pointer;
}

.tgl {
  display: none;
}

.tgl, .tgl:after, .tgl:before,
.tgl *,
.tgl *:after,
.tgl *:before,
.tgl + .tgl-btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.tgl::-moz-selection, .tgl:after::-moz-selection, .tgl:before::-moz-selection,
.tgl *::-moz-selection,
.tgl *:after::-moz-selection,
.tgl *:before::-moz-selection,
.tgl + .tgl-btn::-moz-selection {
  background: none;
}

.tgl::selection, .tgl:after::selection, .tgl:before::selection,
.tgl *::selection,
.tgl *:after::selection,
.tgl *:before::selection,
.tgl + .tgl-btn::selection {
  background: none;
}

.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}

.tgl + .tgl-btn:after {
  left: 0;
}

.tgl + .tgl-btn:before {
  display: none;
}

.tgl:checked + .tgl-btn:after {
  left: 50%;
}

.tgl-switch + .tgl-btn {
  background: #dddddd;
  border-radius: 2em;
  padding: 2px;
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.tgl-switch + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  -webkit-transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0 4px 0 rgba(0, 0, 0, 0.08);
}

.tgl-switch + .tgl-btn:hover:after {
  will-change: padding;
}

.tgl-switch + .tgl-btn:active {
  -webkit-box-shadow: inset 0 0 0 2em #f1f1f1;
          box-shadow: inset 0 0 0 2em #f1f1f1;
}

.tgl-switch + .tgl-btn:active:after {
  padding-right: .8em;
}

.tgl-switch:checked + .tgl-btn {
  background: var(--color-headings);
}

.tgl-switch:checked + .tgl-btn:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tgl-switch:checked + .tgl-btn:active:after {
  margin-left: -.8em;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  -webkit-transition: all 250ms !important;
  transition: all 250ms !important;
  -webkit-transition-delay: 0 !important;
          transition-delay: 0 !important;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  background: var(--bg-panel);
  color: var(--rooms-txt);
  text-align: center;
  -webkit-box-shadow: var(--shadows-color);
          box-shadow: var(--shadows-color);
  text-align: center;
}

.nav-inside-container {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 975px;
  padding: 26px 26px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: auto;
  margin: auto;
}

.nav-logo-container {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 25px;
  color: var(--rooms-txt);
  fill: var(--rooms-txt);
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-filter: var(--footer-filter);
          filter: var(--footer-filter);
}

.nav-logo {
  float: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative;
  width: 25px;
  height: 25px;
  color: var(--rooms-txt);
  fill: var(--rooms-txt);
}

.home-nav {
  float: left;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 125px;
  width: 355px;
  max-width: 500px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  margin: 0;
  padding: 0;
}

.toggle-container {
  float: left;
  max-width: 40px;
  float: left;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-left: inherit;
  margin: 0;
  padding: 0;
  border: 0;
  width: 40px;
  vertical-align: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#cb {
  float: left;
  margin: 0;
  padding: 0;
  border: 0;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--bg-panel);
  color: var(--rooms-txt);
  text-align: center;
  -webkit-box-shadow: var(--shadows-color);
          box-shadow: var(--shadows-color);
  text-align: center;
}

.footer-social-buttons {
  overflow: hidden;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-direction: row;
      flex-direction: row;
  max-width: 975px;
  padding: 21px 20px;
  flex-direction: row;
  box-orient: horizontal;
  height: 70px;
  margin: auto;
  -webkit-box-direction: normal;
}

.fb-social-footer {
  float: left;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  width: 25px;
  height: 25px;
  height: auto;
  -webkit-filter: var(--footer-filter);
          filter: var(--footer-filter);
}

.footer-instagram {
  float: left;
  margin-left: 40px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-filter: var(--footer-filter);
          filter: var(--footer-filter);
}

.footer-mail {
  float: left;
  margin-left: 40px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 25px;
  height: 25px;
  -webkit-filter: var(--footer-filter);
          filter: var(--footer-filter);
}

#main-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Makee this div contain its floated children */
  width: 100%;
}

#sidebar {
  left: 0;
  margin-left: 0;
  position: fixed;
  margin-top: 10em;
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.header {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin-left: 0.5em;
}

.rooms-choice {
  padding: 2em;
  padding-top: 4em;
  text-align: center;
}

#client-chat {
  border-radius: 1rem;
  margin-top: 10em;
  -webkit-box-shadow: var(--shadows-color);
          box-shadow: var(--shadows-color);
  word-wrap: break-word;
}

#top-user-info {
  padding: 1em;
  text-align: center;
  border-radius: 1rem 1rem 0rem 0rem;
  -webkit-box-shadow: var(--shadows-color);
          box-shadow: var(--shadows-color);
}

#display-message-section {
  padding: 2em;
  width: 585px;
  min-height: 55vh;
  max-height: 55vh;
  /*Make  this section scrolable */
  overflow-y: auto;
  overflow-wrap: break-word;
}

#bottom-user-msg-panel {
  text-align: center;
  border-radius: 0rem 0rem 1rem 1rem;
  -webkit-box-shadow: var(--shadows-color);
          box-shadow: var(--shadows-color);
}

#send-msg-panel {
  position: relative;
  padding-left: .8em;
  padding-right: .8em;
  overflow: hidden;
}

#input-area {
  position: relative;
  padding: 0.8em 1em 0.8em 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0.8em;
  bottom: 0;
  direction: ltr;
  text-align: center;
}

#send-msg-panel input[type=text] {
  width: 30%;
  background: var(--input-msg-bg);
  padding: 0.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border: none;
  outline: none;
  -webkit-transition: width .25s ease-in-out;
  transition: width .25s ease-in-out;
  background-origin: border-box;
}

#send-msg-panel input[type=text]:focus {
  width: 50%;
  padding: 0.5rem;
  border-radius: 1rem;
  border-style: solid;
  border-width: 1px;
  border: none;
}

#user_message {
  position: relative;
}

#input-area img {
  position: absolute !important;
  top: 15px;
  padding: 1px !important;
}

#input-area img:hover {
  opacity: 80%;
}

.send-btn-icon {
  -webkit-filter: var(--send-icon-filter) !important;
          filter: var(--send-icon-filter) !important;
  cursor: pointer !important;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.others-msg {
  overflow: hidden;
  margin-right: 7em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 2em;
  width: auto;
  /* animation */
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.client-msg {
  margin-right: 7em;
  margin-left: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 2em;
  background-color: var(--others-msg-bg);
  width: auto;
  color: var(--others-msg-color-txt);
  /* animation */
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.my-msg {
  margin-left: 7em;
  margin-right: 1em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  border-radius: 2em;
  background-color: var(--color-headings);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  /* animation */
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.my-msg::after {
  content: "";
  clear: both;
  display: table;
}

.system-msg {
  text-align: center;
  margin-right: 1em;
  margin-left: 1em;
  padding: 0.5em 0.5em 0.5em 1em;
  color: #656d78;
  font-size: 0.9em;
}

.timestamp {
  margin-bottom: 2px;
  font-size: 0.6em;
  position: relative;
  -webkit-transition: visibility .25s ease-in-out;
  transition: visibility .25s ease-in-out;
  -webkit-box-shadow: var(--shadows-color);
          box-shadow: var(--shadows-color);
}

.client-msg .timestamp {
  visibility: hidden;
  width: 120px;
  background-color: var(--color-text);
  color: var(--bg);
  text-align: center;
  border-radius: 25em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.client-msg:hover .timestamp {
  visibility: visible;
}

.timestamp {
  font-size: 0.6em;
  position: relative;
}

p .timestamp {
  visibility: hidden;
  width: 120px;
  background-color: var(--color-text);
  color: var(--bg);
  text-align: center;
  border-radius: 25em;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

p:hover .timestamp {
  visibility: visible;
}

.other-username {
  position: absolute;
  font-size: 0.6em;
  color: #206ED2;
  top: 0;
  left: 4em;
}

.my-username {
  font-weight: bold;
  font-size: 1em;
  color: #fcfcfc;
}

#msg-input {
  border-radius: 25em;
  border-width: 5px;
}

#get-username {
  display: none !important;
}
/*# sourceMappingURL=style.css.map */