<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Navigation Bar -->
    <nav>

    </nav>

    <div id="main-section">
        <!-- Room Selection -->
        <nav id="sidebar">
            <h4>ROOMS</h4>
            {% for room in rooms %}
            <p class="select-room">{{ room|title }}</p>
            {% endfor %}

        </nav>
        <!-- Message area -->
        <div id="rightside-pannel">
            <!-- Display messages -->
            <div id="display-message-section">

            </div>
            <!-- Input message-->
            <div id="input-area">
                <input type="text" id="user_message" placeholder="Write an message..." autocomplete="off">
                <button type="button" id="send_message">Send</button>
            </div>
        </div>

    </div>
    <!-- Getting Username -->
    <script type="text/javascript">
        const username = `{{ username }}`;
    </script>
    <!-- Custom messages JavaScript -->
    <script src="{{url_for('static', filename='scripts/send_msg.js')}}">
    </script>
    <!-- SocketIO JavaScript -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>

    <!-- Custom SocketIO JavaScript -->
    <script src="{{url_for('static', filename='scripts/socketio.js')}}">
    </script>
</body>

</html>